<h1 class="page-header">Edit Forum Reply</h1>

<%= render 'form' %>

<%= link_to 'Show', @forum_reply, class: "label label-success", id: 'action-label' %>
<%= link_to 'Back', forum_replies_path, class: "label label-warning", id: 'action-label' %>
