<h1 class="page-header">Edit Comment</h1>

<%= render 'form' %>

<%= link_to 'Show', @comment, class: "label label-success", id: 'action-label' %>
<%= link_to 'Back', comments_path, class: "label label-warning", id: 'action-label' %>
