<div class='container'>
	<h1 class="page-header">New Topic<span style='float: right'><%= link_to 'Back', forum_path, class: "label label-warning", id: 'action-label', style: 'font-size: 1.5rem' %></span></h1>

	<%= render 'form_topic' %>
</div>