<h1 class="page-header">Edit Forum Category</h1>

<%= render 'form' %>

<%= link_to 'Show', @forum_category, class: "label label-success", id: 'action-label' %>
<%= link_to 'Back', forum_categories_path, class: "label label-warning", id: 'action-label' %>
