<h1 class="page-header">Edit Forum Post</h1>

<%= render 'form' %>

<%= link_to 'Show', @forum_post, class: "label label-success", id: 'action-label' %>
<%= link_to 'Back', forum_posts_path, class: "label label-warning", id: 'action-label' %>
