// Place all the styles related to the AdminDashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.summary-1 {
	background-color: #5cb85c;
}

.summary-2 {
	background-color: #5bc0de;
}

.summary-3 {
	background-color: #f0ad4e;
}

.summary-4 {
	background-color: #d9534f;
}

.summary-5 {
	background-color: #337ab7;
}


.sum-td {
	background-color: lighten(#337ab7, 33.7%);
}

.user-info {
	border: 1px solid lighten(#337ab7, 22.5%);
	padding: 30px;
	padding-top: 10px;
	border-radius: 20px;
}

.img-circle{
	height: 10rem;
	width: 10rem;
	margin: 10px;
}

.pagination {
	a {
		position: relative;
		float: left;
		padding: 6px 12px;
		margin-left: -1px;
		line-height: 1.42857143;
		color: #337ab7;
		text-decoration: none;
		background-color: #fff;
		border: 1px solid #ddd;
	}
	a:hover {
		color: #337ab7;
		background-color: #eee;
		text-decoration: none;
	}
	.next_page {
		position: relative;
		float: left;
		padding: 6px 12px;
		margin-left: -1px;
		line-height: 1.42857143;
		color: #337ab7;
		text-decoration: none;
		background-color: #fff;
		border: 1px solid #ddd;
	}
	.previous_page {
		position: relative;
		float: left;
		padding: 6px 12px;
		margin-left: -1px;
		line-height: 1.42857143;
		color: #337ab7;
		text-decoration: none;
		background-color: #fff;
		border: 1px solid #ddd;
	}
	.current {
		position: relative;
		float: left;
		padding: 6px 12px;
		margin-left: -1px;
		line-height: 1.42857143;
		color: #fff;
		text-decoration: none;
		background-color: #337ab7;
		border: 1px solid #ddd;
	}
	.disabled:hover {

		cursor: not-allowed;
	}
}

.jumbotron > p {
	word-break: break-all;
}

.th-numbers {
	max-width: 5rem;
}

.img-rounded {
	width: 250px;
	height: 250px;
	margin-bottom: 30px;
}

.sum-tbody {
	td {
	  	max-width: 2rem;
	  	white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}