/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import 'chosen';

.sidebar {
    position: fixed;
    top: 50px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px 5px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #3f3f3f;
    border-right: 1px solid #eee;
}

.container {
	min-height: 80rem;
}

.main {
    padding: 20px;
}

#nav-header {
	background-color: #313131;
}

.navbar-default .navbar-nav > li > a {
	color: #fff;
}
.navbar-default .navbar-nav > li > a:hover {
	background-color: #428bca;
	color: #fff;
}

.nav-sidebar > li > a {
	color: white;
}

.nav-sidebar > li > a:hover {
	color: #fff;
	background-color: #428bca;
}

.navbar-default .navbar-brand > a:hover {
	color: #fff;
}
#action-label{
	color: white;
	text-align: center;
	font-size: 10px;
}

.table > thead > tr > th {
	text-align: center;
}

.table > tbody > tr > td {
	text-align: center;
}

.jumbotron {
	text-align: center;
}

.jumbotron p{
	text-align: left;
	font-size: 14px;
	margin-left: 30px;
}

#user-img {
	margin-bottom: 25px;
}

.nav > li > a:hover, .nav > li > a:focus {
	background-color: #428bca;
}

.well {
	background-color: inherit;
	border: none;
	margin-bottom: 0;
}

.carousel img {
	width: 100%;
	height: 20%;
}

.thumbnail {
	height: 500px;
	
}

.thumbnail img {
	height: 300px;
}

.messages {
  max-height: 400px;
  overflow-y: auto;
  margin-bottom: 1em;
  margin-top: 1em;
}

.caption {
	p {
	overflow: hidden;
	height: auto;
	text-overflow: ellipsis;
	}
	h3 {
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}
}

.category-button {
	bottom: 0;
	left: 0;
}


footer {
	margin-top: 50px;
	width: 100%;
	background-color: #313131;
	height: 6rem;
	text-align: center;
	claer: both;
	padding: 0;
	bottom: 0;
	position: realtive;
}
#footer-p 	{
	position: relative;
	margin: 2rem;
	color: #fff;
}

.mid {
	color: #fff;
	background-color: #313131;
	&:hover {
		color: #fff;
	}
}