<h1 class="page-header">Edit Image</h1>

<%= render 'form' %>

<%= link_to 'Show', @image, class: "label label-success", id: 'action-label' %>
<%= link_to 'Back', images_path, class: "label label-warning", id: 'action-label' %>
